body {
  background-image: url(space.jpg);  
  background-size: 100%; 
 
}

/* Main Full Container DIV */

div.container{
  margin-top: 70px; 
}

.container {
  border: white solid 1px; 
  height: 420px;
  width: 70%; 
  background-image: url(space.jpg); 
  background-size: 100%; 
  margin: auto; 
  border-radius: 25px; 

}

/* Header DIV */

.title {
  text-align: center; 
  font-size: 45px; 
  width: 100%;
  background:dimgray; 
  margin-bottom: 20px; 
  margin: auto; 
  border-top-left-radius: 25px; 
  border-top-right-radius: 25px; 
}

/* Full Div minus header */

.programs-container {
  display: flex; 
  flex-direction: row;
  flex-direction: space-between; 
  width: 100%; 
  height: 321px;
}


/* Buttons Div (left Side) */

.programs-display{
  width: 50%; 
  height: 321px; 
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start;

}

#button {
  width: 85%;
  height: 37px;
  border:none;
  background: rgba(255, 255, 255,0);
  font-size: 15px;
  color: white; 
  line-height: 41px; 
  margin-top: 8px; 
}

#button:hover {
  color: black; 
}

#program {
  width: 20%; 
  height: 100%;
  float: right;
  margin-right: 15px; 
  opacity: 0.6;
 
}

/*Display website DIV */

.programs-display2{
  width: 50%; 
  height: 225px; 
  margin-top: 36px; 
  position: relative;

}

.programs-display2 .display-pic1 {
  top: 0;
  left: 0;
  z-index: 1;
}

.display-pic1{
  position: absolute;
  width: 300px; 
  height: 225px;
  top: 0;
  left: 0;
}

.display-pic2{
  position: absolute;
  width: 300px; 
  height: 225px;
  z-index: 0;
  top: 0;
  left: 0;
}

.display-pic3{
  position: absolute;
  width: 300px; 
  height: 225px;
  z-index: -1;
  top: 0;
  left: 0;
}

.display-pic4{
  position: absolute;
  width: 300px; 
  height: 225px;
  z-index: -2;
  top: 0;
  left: 0;
}


/* Footer */

.footer {
  text-align: center; 
  font-size: 13px;
  height: 45px;
  width: 100%; 
  background:dimgray; 
  margin-bottom: 20px; 
  margin: auto; 
  color: white; 
  line-height: 45px; 
  border-bottom-left-radius: 25px; 
  border-bottom-right-radius: 25px; 
}


/* @media screen and (max-width: 980px){



@media screen and (max-width: 768px){



@media screen and (max-width: 640px){

  h1 {
    position: static;
  }

} */